http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wlts//list_collections
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: "{\n  \"collections\": [\n    \"terraclass_amazonia\", \n    \"deter_amazonia_legal\",
        \n    \"deter_cerrado\", \n    \"prodes_cerrado\", \n    \"prodes_amazonia_legal\",
        \n    \"lapig_cerrado_pasture\", \n    \"ibge_cobertura_uso_terra\", \n    \"mapbiomas5_amazonia\",
        \n    \"mapbiomas5_cerrado\", \n    \"mapbiomas5_caatinga\", \n    \"mapbiomas5_mata_atlantica\",
        \n    \"mapbiomas5_pampa\", \n    \"mapbiomas5_pantanal\"\n  ]\n}\n"
  recorded_at: 2021-02-11 11:59:23 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wlts//describe_collection?collection_id=deter_amazonia_legal
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: "{\n  \"classification_system\": {\n    \"classification_system_id\":
        \"21\", \n    \"classification_system_name\": \"DETER Amaz\\u00f4nia Legal\",
        \n    \"type\": \"Self\"\n  }, \n  \"collection_type\": \"Feature\", \n  \"description\":
        \"Alertas de Desmatamento da Amaz\\u00f4nia Legal.\", \n  \"detail\": \"O
        DETER \\u00e9 um levantamento r\\u00e1pido de alertas de evid\\u00eancias
        de altera\\u00e7\\u00e3o da cobertura florestal na Amaz\\u00f4nia, feito pelo
        INPE. O DETER foi desenvolvido como um sistema de alerta para dar suporte
        \\u00e0 fiscaliza\\u00e7\\u00e3o e controle de desmatamento e da degrada\\u00e7\\u00e3o
        florestal realizadas pelo Instituto Brasileiro do Meio Ambiente e dos Recursos
        Naturais Renov\\u00e1veis (IBAMA) e demais \\u00f3rg\\u00e3os ligados a esta
        tem\\u00e1tica. Mais informa\\u00e7\\u00f5es acesse: http://www.obt.inpe.br/OBT/assuntos/programas/amazonia/deter\",
        \n  \"name\": \"deter_amazonia_legal\", \n  \"period\": {\n    \"end_date\":
        \"2020-06-18\", \n    \"start_date\": \"2016-08-02\"\n  }, \n  \"resolution_unit\":
        {\n    \"unit\": \"DAY\", \n    \"value\": \"1\"\n  }, \n  \"spatial_extent\":
        {\n    \"xmax\": -44.0003914444064, \n    \"xmin\": -73.5490878282397, \n
        \   \"ymax\": 4.55537642867927, \n    \"ymin\": -18.0364406523564\n  }\n}\n"
  recorded_at: 2021-02-11 11:59:23 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wlts//trajectory?start_date=2015-01-01&end_date=2017-01-01&collections=mapbiomas5_amazonia&latitude=-12&longitude=-54
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: "{\n  \"query\": {\n    \"collections\": [\n      \"mapbiomas5_amazonia\"\n
        \   ], \n    \"end_date\": \"2017-01-01\", \n    \"latitude\": -12.0, \n    \"longitude\":
        -54.0, \n    \"start_date\": \"2015-01-01\"\n  }, \n  \"result\": {\n    \"trajectory\":
        [\n      {\n        \"class\": \"Forma\\u00e7\\u00e3o Florestal\", \n        \"collection\":
        \"mapbiomas5_amazonia\", \n        \"date\": \"2015\"\n      }, \n      {\n
        \       \"class\": \"Forma\\u00e7\\u00e3o Florestal\", \n        \"collection\":
        \"mapbiomas5_amazonia\", \n        \"date\": \"2016\"\n      }, \n      {\n
        \       \"class\": \"Forma\\u00e7\\u00e3o Florestal\", \n        \"collection\":
        \"mapbiomas5_amazonia\", \n        \"date\": \"2017\"\n      }\n    ]\n  }\n}\n"
  recorded_at: 2021-02-11 11:59:23 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
